*{
    margin: 0px;
}

body {
    width: 100%;
    min-height: 100vh;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* padding-left: 1em;
    margin-top: 0px; */
}
#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
#about-me-images {
    width: 100%;
}
#pedro-collage {
    width: 100%;
    margin: 0 0;
}
.about-me-title {
    text-align: center;
    margin: 0 1rem;
}

#about-me section{
    display: flex;
    justify-content: center;
    margin: 0 0;
}

#about-me-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1rem 1.5rem;
}
.about-me-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-content: center;
}
.projects-grid-item {
    margin: 2rem 2rem;
    text-align: center;
}
.projects-grid-item img{
    width: 100%;
}
figcaption {
    display: flex;
    justify-content: center;
    position: relative;
    top: -50%;
    width: 95%;
    margin: 0 auto;
}
figcaption h2 {
    margin: 0 1rem;
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    min-height: 75px;
    margin: 0 auto;
    align-items: center;
}

footer p {
    grid-column-start: 2;
    text-align: center;
}

footer nav {
    display: flex;
    justify-content: right;
    margin-right: 3rem;
}
header nav ul {
    display: flex;
    width: 300px;
    justify-content: space-around;
}
#links ul {
    display: flex;
    width: 175px;
    justify-content: space-around;
}
.links ul {
    display: flex;
    width: 175px;
    justify-content: space-around;
}

#github {
    width: 3.5rem;
}

#linkedin {
    width: 3.5rem;
}

.github {
    width: 3.5rem;
}

.linkedin {
    width: 3.5rem;
}


