*{
    margin: 0px;
}

body {
    width: 100%;
    min-height: 100vh;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
    /* width: 100%; */
}

header nav ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 1rem;
}
#container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
#pedro-collage {
    width:100%;
}
.about-me-title {
    text-align: center;
    margin: 0 1rem;
}

#about-me-title-section{
    display: flex;
    justify-content: center;
}

#about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-me-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem .5rem;
    text-justify: distribute;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-content: center;
}
.projects-grid-item {
    margin: 1rem 1rem;
    text-align: center;
}
.projects-grid-item img{
    width: 100%;
}
figcaption {
    display: flex;
    justify-content: center;
    position: relative;
    top: -50%;
    width: 95%;
    margin: 0 auto;
}
figcaption h2 {
    margin: 0 1rem;
}
footer {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    min-height: 75px;
    margin: 0 auto;
    align-items: center;
}

footer p {
    grid-column-start: 2;
    text-align: center;
}

footer nav {
    display: flex;
    justify-content: right;
    margin-right: 3rem;
}
#links ul {
    display: flex;
    width: 175px;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.links ul {
    display: flex;
    width: 175px;
    justify-content: space-evenly;
    margin: 1rem auto;
}

#github {
    width: 3.5rem;
}

#linkedin {
    width: 3.5rem;
}

.github {
    width: 3.5rem;
}

.linkedin {
    width: 3.5rem;
}


