@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');

:root {
    --dark-blue: #2F2D92;
    --blue: #1C4EAA;
    --yellow: #E89611;
    --orange: #E36C14;
    --gray: #666667;
    --light-gray: #8B8B8C;
}

*{
}
html {
    background-color: white;
}
ul {
    list-style: none;
}

header {
    background-color: var(--orange);
    color: lightgray;
    margin-top: 0px;
    border-bottom: solid chocolate;
}

header nav ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}

header ul li a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}
header ul li a:hover {
    color: rgb(239, 199, 131);
    font-size: 1.25rem;
    text-decoration: none;
}
#page-title a{
    color: white;
    text-decoration: none;
}

#page-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: White;
    font-size: 2.5rem;
    border-width: 2px;
}

#container {
    font-family: 'Libre Baskerville', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#welcome figure img {
    border-radius: 50%;
    border: solid rgb(60, 102, 147);
    border-width: 10px;
    padding: 5px;
}
#welcome h2 {
    text-align: center;
    font-family: 'Libre Baskerville', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(17, 51, 87);
}
#mid-text-scroll-down {
    text-decoration: none;
    color: #2F2D92;
}
#mid-text-scroll-down:hover {
    text-decoration: none;
    color: #E36C14;
}
#mid-text-about-me {
    text-decoration: none;
    color: #2F2D92;
}
#mid-text-about-me:hover {
    text-decoration: none;
    color: #E36C14;
}
#about-me-title-section{
    background-color: rgb(60, 102, 147);
    /* border: solid var(--blue); */
}
.about-me-title {
    background-color: rgb(60, 102, 147);
    color: white;
    font-size: 2rem;
}

h2 {
    font-family: 'Libre Baskerville', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: x-large;
}

#about-me-content {
    color:#2F2D92;
    
}
#skills {
    color:#2F2D92;
}
article h3 {
    color:#2F2D92;
}


#projects-title {
    text-align: center;
    background-color: rgb(60, 102, 147);
    /* border: solid var(--blue); */
    color: white;
    font-size: 2rem;

}
#projects section {
    background-color: var(--light-gray);
}
.projects-grid-item img {
    border-radius: 10px;
}
.projects-grid-item {
    border-radius: 10px;
    background-color: rgb(18, 32, 47);
    /* border: solid rgb(18, 32, 47); */
    /* border-width: .4rem; */
    text-align: center;
}
.projects-grid-item p{
    color: white;
}

.project-links-index {
    display: none;
    border-radius: 10px;
    background-color: whitesmoke;
    border: solid 5px lightgray;
}

.project-links-aboutme {
    display: none;
    border-radius: 10px;
    background-color: whitesmoke;
    border: solid 5px lightgray;
}

figcaption {
    text-align: center;
    border-radius: 50px;
    /* border: solid #E89611; */
}
figure a:link {
    text-decoration: none;
}
figure a:visited {
    text-decoration: none;
}
figure a:hover {
    text-decoration: none;
}
figure a:active {
    text-decoration: none;
}
figcaption h2 {
    color: white;
    text-decoration: none;
}

footer {
    background-color:#E89611;
    color:white;
    border-top: solid;
    border-color: chocolate;
}

footer ul li a {
    color: white;
}

#github {
    border-radius: 50%;
    border: solid;
    border-color: chocolate;
}

#linkedin {
    border-radius: 50%;
    border: solid;
    border-color: chocolate;
}

.github {
    border-radius: 50%;
    border: solid;
    border-color: chocolate;

}

.linkedin {
    border-radius: 50%;
    border: solid;
    border-color: chocolate;
}

/* #Home{

}

#About{

}

#Projects{

}

.Links{

} */
